<div id="bgimg">
  <a routerLink="/real/all" class="btn btn-secondary">Back</a>
  <div class="container mt-4" *ngIf="products.length">
    <div class="bg-white">
      <table class="table table-bordered table-striped text-center">
        <h3>Compare Products</h3>
        <tr>
          <th></th>
          <td *ngFor="let p of products"><img [src]="p.image" alt="{{p.Model}}" class="img"></td>
        </tr>
        <tr>
          <th>Mobile Name</th>
          <td *ngFor="let p of products">{{ p.vendor }} {{ p.Model }}</td>
        </tr>
        <tr>
          <th>Processor</th>
          <td *ngFor="let p of products">{{ p.Processor }}</td>
        </tr>
        <tr>
          <th>Camera</th>
          <td *ngFor="let p of products">{{ p.camera }}</td>
        </tr>
        <tr>
          <th>Cost</th>
          <td *ngFor="let p of products">{{ p.cost }}</td>
        </tr>
        <tr>
          <th>Rating</th>
          <td *ngFor="let p of products">{{ p.rating }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>