<div id="bgimg">
    <div class="container1">
        <div><a><img src="https://pbs.twimg.com/profile_images/1205502063020560384/X7pdXXsq_400x400.jpg" alt="75F APAC" routerLink="/"></a></div>
        <div>
            <ul class="flex">
                <li class="list-unstyled me-3 mt-2"><button class="btn btn-primary" disabled>Signup</button></li>
                <li class="list-unstyled me-3 mt-2"><button class="btn btn-success" routerLink="/login">Login</button></li>
            </ul>
        </div>
    </div>

    <div class="container border border-5 border-primary rounded p-3">
        <h1 class="mb-3">Sign-<span id="color">Up</span></h1>
        <form (ngSubmit)="onSignup()" #passwordForm="ngForm">
            <input type="email" [(ngModel)]="email" name="email" class="form-control mb-3" placeholder="Email" required>
            <input type="password" [(ngModel)]="password" name="password" class="form-control mb-3" placeholder="password" pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*]).{6,}$" required  #pwd="ngModel">
            <div *ngIf="pwd.invalid && pwd.touched" class="text-danger mt-1">
                <div *ngIf="pwd.errors?.['required']">Password is required.</div>
                <div *ngIf="pwd.errors?.['pattern']">
                    Password must contain at least 1 uppercase letter, 1 number, 1 special character, and be at least 6 characters long.
                </div>
            </div>

            <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" class="form-control mb-3" placeholder="confirm password" required  #confirmPwd="ngModel">
            <div *ngIf="(confirmPwd.dirty || confirmPwd.touched) && (confirmPassword !== password)" class="text-danger mt-1">
                Passwords do not match.
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="passwordForm.invalid || (confirmPassword !== password)">Register</button>
        </form>
        
    </div>
</div>