.container {
	margin-top: 20px;
	width: 300px;
}
#color{
    color: rgb(255, 136, 0);
}
.container1{
    display:flex;
    justify-content: space-between;
    background-color: rgb(220, 219, 219);
    width:100%;
    align-items: center;
}
.flex{
    display: flex;
}
img{
    width: 20%;
    height: 20%;
}
#color{
    color: rgb(255, 55, 0);
}