<div id="bgimg">
    <div class="container1">
        <div><a><img src="https://pbs.twimg.com/profile_images/1205502063020560384/X7pdXXsq_400x400.jpg" alt="75F APAC" routerLink="/"></a></div>
    </div>
    <div class="center mt-5">
        <h1>Welcome to the 75<span class="color">F</span> E-commerce App</h1>
        <h4 class="mt-3">Please <a routerLink="/signup" class="text-decoration-none"><span class="color">Signup</span></a> / <a routerLink="/login" class="text-decoration-none"><span class="color">Login</span></a> to proceed further</h4>
    </div>
</div>

